<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MiniFramework Suite" verbose="1" parallel="methods" thread-count="3">
  <test name="UI Tests">
    <parameter name="browser" value="${browser}"/>
    <!-- <classes>
      <class name="com.example.tests.LoginTest"/>
    </classes> -->
    <packages>
            <!-- Esto hace que TestNG ejecute todos los tests dentro del paquete -->
            <package name="com.example.tests.*"/>
        </packages>
  </test>
</suite>
